@charset "UTF-8"; 
@import 'style.scss';

#header {
    position: fixed;
    top: 30px;
    left: 30px;
    .head-inner {
        .logo {
            transform-origin: center center;
            transition: all 0.3s;
            span {
                font-family: 'jabjai';
                font-size: $logo;
                margin-right: 0.4rem;
            }
            span:last-child {margin-right: 0;}
        }
    }
}